@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Alata:400);
@import url(https://use.fontawesome.com/releases/v5.15.4/css/all.css);
@import url(https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, fieldset, form, label, legend, caption, tfoot, thead, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  color: $font-color;
  background-color: $background-color;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 80px;
  line-height: 84px;
  letter-spacing: -2px;
}

h2 {
  font-size: 48px;
}

a {
  font-weight: 600;
  position: relative;
  z-index: 0;
  transition: color .3s;
  box-shadow: none;
  text-decoration: none;
  color: $font-color;
}

a::after {
  content: '';
  display: block;
  width: 104%;
  height: 4px;
  background-color: $link-decoration-color;
  transition: bottom .3s;
  position: absolute;
  left: -2%;
  bottom: 1px;
  z-index: -1;
}

a:hover::after {
  bottom: -4px;
}

main {
  margin-top: 32px;
}

section {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 100px;
}

section:nth-child(odd) {
  background-color: $section-dark-color;
  color: $light-font-color;

  a {
    color: $light-font-color;
  }
}

section:nth-child(even) {
  background-color: $section-light-color;
}

.content {
  margin-top: 16px;
}

.profile-image {
  margin-bottom: -200px;
}

.profile-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.footer {
  margin: 0 auto;
  padding: 36px 0;
  text-align: center;
}

.fa-heart {
  color: $heart-color;
}
