// Extra small devices (phones, less than 768px)
@media (max-width: 767px) {
  body{
      padding: 0;
  }

  section {
    padding: 40px;
    flex-direction: column;
  }

  .profile-image {
    margin-bottom: unset;
  }
}

// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
